body {
    background-color: rgb(198, 198, 198);
    color: black;
    margin: 0 auto;
}
.reference {
    visibility: hidden;
}
.header-container {
    /* position: relative; */
    margin: 2vh auto;
    /* height: 40vh; */

}
.box-shadow {
    position: relative;
    display: flex;
    background: black;
    height: 35vh;
    width: 90vw;
    margin: 5vh;
    top: 12vh;
}
.box-decor {
    position: relative;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("images/irridescentcloth.jpg");
    color: black;
    height: 35vh;
    width: 90vw;
    margin: 5vh auto;
    top: -30vh;
} 
header {
    /* visibility: hidden; */
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EFEFEF;
    color: black;
    height: 30vh;
    width: 85vw;
    margin: 10px;
}
.header-span-one {
    font-size: 3vw;
    font-family: 'Black Han Sans', sans-serif;
}
.header-span-two {
    float: left;
    font-size: 5vw;
    font-family: 'Anaheim', sans-serif;
}
.header-span-three {
    float: right;
    font-size: 5vw;
    font-family: 'Black Han Sans', sans-serif;
}
.cursive {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 20vh;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        width: 90vw;
        margin: 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}