body {
    /* background-color: rgb(198, 198, 198); */
    color: black;
    /* margin: 0 auto; */
    width: 100vw;
    max-width: 750px;
    /* overflow: hidden; */
    overflow-x: hidden;
    margin: 0 auto;
    /* height: 150vh; */

}
/* .body-wrap {
    height: 895vh;
    overflow-y: hidden;
    margin: 0 auto;

} */
.reference {
    visibility: hidden;
}
.spinning-flower {
    background: url("images/flower1.webp");
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 70vw;
    top: -15vh;
    z-index: 1;
    margin: -15vh 0;
    overflow: hidden;

}
.header-container {
    /* position: relative; */
    margin: 2vh auto;
    /* margin-top: -9vh; */

    /* height: 40vh; */
    /* display: flex; */

}
/* .box-shadow {
    position: relative;
    background: black;
    height: 35vh;
    width: 90vw;
    z-index: 3;
    top: 50vh;
    right: 50vw;
} */
/* .box-shadow {
    position: relative;
    background: black;
    height: 35vh;
    width: 90vw;
    margin: 5vh;
    top: 12vh;
} */
.box-decor {
    position: relative;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("images/irridescentcloth.jpg");
    color: black;
    height: 35vh;
    width: 90vw;
    margin: 5vh auto;
    z-index: 2;
    
    -webkit-box-shadow: -12px 13px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: -12px 13px 0px 0px rgba(0,0,0,1);
    box-shadow: -12px 13px 0px 0px rgba(0,0,0,1);
    

    /* top: -30vh; */
} 
#header-shadow {
    height: 35vh;
    /* top: 12vh;} */
}
#header-decor {
    height: 35vh;
    /* top: -30vh; */
}
header {
    /* visibility: hidden; */
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EFEFEF;
    color: black;
    height: 30vh;
    width: 85vw;
    margin: 10px;
    z-index: 1;
}
.header-para {
    display: flex;
    flex-direction: column;
    height: 28vh;
    width: 84vh;
    display: flex;
    justify-content: center;
    align-content: space-between;
    line-height: 2rem;
    /* height: 40vh;
    width: 85vw; */
    /* margin: 0 4px; */
    clear: both;
    overflow: auto;
}
.header-span-one {
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-family: 'Black Han Sans', sans-serif;
    float: left;
    padding-left: 1rem;
}
.header-span-two {
    display: flex;
    font-size: 1.5rem;
    font-family: 'Anaheim', sans-serif;
    margin: -1rem auto;
}
.header-span-three {
    display: flex;
    float: right;
    font-size: 1.8em;
    font-family: 'Black Han Sans', sans-serif;
  
}
.cursive {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 20vh;
}
.nav-wrap {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* margin-top: -30vh; */
    padding-right: 9vw;
}
li {
    padding: .5vh 4px; 
    width: 80vw;
}
a { 
    color: black; 
    font-weight: 300; 
    letter-spacing: 2px; 
    text-decoration: none; 
    background: rgb(255, 255, 255);
    border: 5px solid #000;
    border-radius: 5px; 
    padding: 8vh 4px; 
    display: inline-block; 
    width: 100%; 
    text-align: center; 
    margin-left: 7px;
    font-family: 'Black Han Sans', sans-serif;
    /* text-align: right; */

}

a:hover { 
    background: rgba(238, 13, 13, 0.75); 
}
#bio-shadow {
    height: 80vh;
    /* top: 2vh; */
}
#bio-decor {
    height: 199vh;
    /* top: -86vh; */
}
.bio-wrapper {
    background-color: #EFEFEF;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    color: black;
    /* height: 75vh; */
    height: 108vh;
    /* top: 5vh; */
    width: 86vw;
    margin: 10px;
    /* padding-bottom: 50vh; */

}

.bio-content {
    background-color: rgba(136, 0, 0, 0.351);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 107vh;
    /* margin: 0 0 -50vh 0; */

}
.section-discription {
    color: black;
    float: left;
    /* position: absolute; */
    padding: 2vh 0 0 2vw;
    font-size: 3vh;
    font-family: 'Black Han Sans', sans-serif;

}
#bio-disc {
    position: absolute;

}
.bio-img {
    top: 50px;
    border-radius: 50%;
    width: 225px;
    height: 207px;
    background: url("images/portrait.jpeg");
    background-position: 50% 60%;
    background-size: 75% 50%;
}
.bio-header {
    background: blue;
    padding-top: 2vh;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3vh;
}
.bio-par {
    padding-top: 2vh;
    font-family: 'Anaheim', sans-serif;
    background: orange;
    height: 55vh;
    width: 80vw;
    text-align: justify;
    font-size: 4.5vmin;
    line-height: 15px;
}
.triangle {
    width:200px;
    height:400px;
    overflow:hidden;
    position: absolute;
    z-index: -3;
    bottom: -10vh;
}
.triangle:before {
    content:"";
    display:block;
    width:70%;
    height:70%;
    background-image: url('images/dots.jpg');
    transform: rotate(-45deg);
    transform-origin:0 0;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin:0 0;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin:0 0;
}
#skills-shadow {
    height: 60vh;
    /* top: -75vh; */
}
#skills-decor {
    height: 60vh;
    /* top: -141vh; */
}
#skills-disc {
    position: relative;
}
.skills-wrapper {
    height: 55vh;
    width: 85vw;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
}
.skill-list-wrap ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(68, 141, 141);
    height: 45vh;
}
.skill-list-wrap li {
    background: rgb(141, 68, 117);
    font-size: 4vh;
    width: 35vw;
    margin: 2vh 0 0 3vw;
    font-family: 'Anaheim', sans-serif;
    text-align: right;

}
#resume-disc {
    display: block;
    background: white;
    /* padding: 5px 0 5px 0; */
    padding: 2vh 0 2vh 2vw;
    font-size: 3vh;
    font-family: 'Black Han Sans', sans-serif;
}
#resume-container {
    /* top: -50vh; */
    height: 650px;
}
#resume-shadow {
    /* top: -161vh; */
    height: 1369px;
    padding-bottom: 5px;
}
#resume-decor {
    padding-top: 5px;
    /* top: -398vh; */
    height: 1369px;
}
.resume-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resume-pdf {
    height: 650px;
    width: 85vw;
    padding-top: 5px;
    padding-bottom: 5px;
}
#projects-discription {
    display: inline-block;
    color: black;
    float: left;
    position: absolute;
    padding: 2vh 0 0 2vw;
    font-size: 3vh;
    font-family: 'Black Han Sans', sans-serif;
}
#projects-shadow {
    /* top: -393vh; */
    height: 290vh;
}
#projects-decor {
    /* top: -690vh; */
    height: 290vh;

}
.projects-content {
    background: #EFEFEF;
    height: 285vh;

}
.projects-wrapper {
    padding: 10vh 3vw;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    width: 80vw;
    /* height: 35vh; */

}
.project-preview {
    background: papayawhip;
    margin-top: 10px;
    border-radius: 20px;
    border: 5px solid #000;
    height: 250px;
    width: 400px;
    top: -2vh;
}
#contacts-shadow {
    /* top: -686vh; */

}
#contacts-decor {
    /* top: -727vh; */
}
.contacts-wrap {
    display: block;
}
.contact-info {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    line-height: 30px;
    font-family: 'Anaheim', sans-serif;
    font-size: 3.5vh;
}


















/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 601px) {
    body {
        width: 100vw;
        margin: 0 auto;
        overflow-x: hidden;
        background: rgba(0, 0, 0, 0.31);

    }
    .body-wrap {
        height: 995vh;
        overflow-y: hidden;
    }
    .spinning-flower {
        background: url("images/flower1.webp");
        border-radius: 50%;
        height: 300px;
        width: 300px;
        position: absolute;
        left: 65vw;
        top: -6vh;
        z-index: 1;
        /* overflow: hidden; */
    }
    .header-container {
        /* position: absolute; */
        /* top: -14vh; */
        
    }
    .header-para {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: space-between;
        line-height: 2em;
        height: 40vh;
        width: 85vw;
        /* margin: 0 4px; */
    }
    .header-span-one {
        display: flex;
        font-size: 1.5em;
        font-family: 'Black Han Sans', sans-serif;
        float: left;

    }
    .header-span-two {
        display: flex;
        font-size: 1.5em;
        font-family: 'Anaheim', sans-serif;
        margin: -1em auto;
    }
    .header-span-three {
        display: flex;
        float: right;
        font-size: 1.8em;
        font-family: 'Black Han Sans', sans-serif;
        padding-left: 10vw;
    }
    .box-decor {
        /* top: -36vh; */
    }
    /* .box-shadow {
        position: relative;
        /* display: flex; 
        background: black;
        height: 35vh;
        width: 90vw;
        margin: 5vh;
        /* top: 5vh; 
        right: 3vw;
    } */
    .nav-wrap {
        margin-top: 7vh;
        /* top: -39vh; */
    margin-right: 25px;
    }

    .triangle {
        width: 253px;
        height: 513px;
        overflow: hidden;
        position: absolute;
        z-index: -3;
        bottom: -85vh;
    }
    a { 
        font-size: 6vh;
        color: black; 
        font-weight: 300; 
        letter-spacing: 2px; 
        text-decoration: none; 
        background: rgb(255, 255, 255);
        border: 5px solid #000;
        border-radius: 5px; 
        padding: 8vh 4px; 
        display: inline-block; 
        width: 100%; 
        text-align: center; 
        margin-left: 7px;
        font-family: 'Black Han Sans', sans-serif;
        /* text-align: right; */
    
    }
    /* .bio-container {
        top: -116vh;
    } */
    /* #bio-shadow {
        height: 103vh;
        top: 1vh;
    }        */
     #bio-decor {
        height: 170vh;
        display: flex;
        justify-content: center;
        /* top: -109vh; */
    }
    .bio-content {
        height: 165vh;
        display: flex;

    }
    .bio-wrapper {
        height: 145vh;
        padding-bottom: 130px;


    }
    .bio-img {
        background-position: 25% 47%;
        background-size: 190%;
        margin-top: 10px;
    }
    .bio-header {
        background: blue;
        padding-top: 2vh;
        /* margin-top: 2vh; */

        font-family: 'Black Han Sans', sans-serif;
        font-size: 3vh;
    }
    .bio-par {
        padding-top: 2vh;
        font-family: 'Anaheim', sans-serif;
        background: orange;
        height: 55vh;
        width: 80vw;
        text-align: justify;
        font-size: 6vmin;
        line-height: 6.5vmin;
    }
    #skills-decor {
        height: 60vh;
        /* top: -166vh; */
    }
    #skills-shadow {
        height: 60vh;
        /* top: -98vh; */
    }

}
/* 
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    body {
        /* max-width: 750px; */
        /* blue */
        background: rgb(53, 53, 79);
    }
    .spinning-flower {
        top: -5vh;
    }
    .box-shadow {
        left: -2vh;
    }
    .header-para {
        /* height: 40vh; */
        line-height: 2em;        
    }
    .header-span-one {
        font-size: 3vw;
    }
    .header-span-two {
        font-size: 4vw;
        margin: -1em auto;
    }
    .header-span-three {      
        font-size: 4vw;
        padding-left: 18vw;
    }
    .nav-wrap {
        margin-top: -31vh;
        padding-right: 9vw;
    }
    #bio-shadow {
        height: 90vh;
        top: 0vh;
    }
    #bio-decor {
        height: 90vh;
        top: -96vh;
    }
    #bio-disc {
        font-size: 5vh;
    }
    /* .bio-img {
        height: 400vh;
        background-position: 25% 47%;
        background-size: 130%;
    } */
    .bio-img {
        margin: 6px 0;
        border-radius: 50%;
        min-width: 200px;
        min-height: 200px;
        background: url("images/portrait.jpeg");
        background-position: 30% 54%;
        background-size: 240% 240%;
    }
    .bio-content {
        background-color: rgba(136, 0, 0, 0.351);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 75vh;
        margin: 0 0 -50vh 0;
    
    }
    a { 
        color: black; 
        font-weight: 300; 
        letter-spacing: 4px; 
        text-decoration: none; 
        background: rgb(255, 255, 255);
        border: 5px solid #000;
        border-radius: 5px; 
        padding: 4vh 4px; 
        display: inline-block; 
        width: 100%; 
        text-align: center; 
        margin-left: 7px;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 7vh;
        /* text-align: right; */
    
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background: rgb(96, 0, 0);
    }
    .spinning-flower {
        top: -50px;
    }
    .header-container {
        margin: -12vh auto;
    }
    .box-shadow {
        max-width: 700px;
        max-height: 300px;

    }
    .box-decor {
        max-height: 300px;
        max-width: 700px;
    }
    header {
        max-height: 280px;
        max-width: 650px;
    }
    .nav-wrap {
        margin-top: -20vh;
        padding-right: 8vw;
    }

    #bio-shadow {
        min-height: 500px;
        height: 80vh;
        top: 3vh;
    }
    #bio-decor {
        min-height: 500px;
        height: 80vh;
        top: -88vh;
    }
    .bio-content-wrapper {
        max-height: 580px;
        max-width: 650px;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background: rgb(0, 96, 8);
    }
    .spinning-flower {
        top: -50px;
    }
    .header-container {
        margin: -12vh auto;
    }
    .box-shadow {
        max-width: 800px;
        max-height: 300px;
        left: -9vh;

    }
    .box-decor {
        max-height: 300px;
        max-width: 800px;
    }
    header {
        max-height: 280px;
        max-width: 750px;
    }
    .nav-wrap {
        margin-top: -20vh;
        padding-right: 0;
    }
    .bio-content-wrapper {
        max-height: 625px;
        max-width: 750px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* body {
        max-width: 750px;
        background: rgb(142, 73, 0);

    }
    .spinning-flower {
        background: url(images/flower1.webp);
        border-radius: 50%;
        height: 350px;
        width: 350px;
        position: absolute;
        left: 78vw;
        top: 9vh;
        z-index: 1;
        margin: -20vh 0;
    }
    .box-shadow {
        height: 300px;
        width: 800px;
        margin: 5vh;
        top: 12vh;
    }
    .box-decor {
        height: 300px;
        width: 800px;
    }
    header {
        height: 300px;
        width: 800px;
    } */
}